__pycache__/
*.py[cod]
*.pyo
.env
*.ipynb_checkpoints/
artefacts/
mlruns/
mlruns_artifacts/
.venv/
venv/
dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
logs/
*.log
wheels/*.whl